.click {
    cursor: pointer;
}

body {
    background-color: #f5f0f0;
}

.container-fluid {
    padding:0;
}
.header-admin {
    background-color: red;
    margin:0;
    width:100%;
    min-height:60px;
}
.header-admin a {
    color: white;
    text-decoration: none;
}
.deader-admin-active {
    font-size: 20px;
}
.footer-admin {
    background-color: red;
    margin:0;
    width:100%;
    min-height:100px;
}
.center-text {
    text-align: center;
    vertical-align: middle;
}
.row {
    --bs-gutter-x: 0;
}
.card {
  border-radius: 15px;
}
.custom-dropdown {
    position: relative;
}

.custom-dropdown .dropdown-menu {
    position: absolute;
}
.custom-dropdown:hover .dropdown-menu {
    display: block;
}
/* CSS cho màn hình laptop và lớn hơn */
@media (min-width: 1500px) {
    .border-size {
        height: 480px;
    }
}
/* CSS cho màn hình nhỏ hơn laptop */
@media (max-width: 1499px) {
    .border-size {
        height: 335px;
    }
}
.card {
   transition: all 0.3s ease-in-out;
}
.card:hover {
   transform: scale(1.07);
}

/* Slideshow container */
.slideshow-container {
  max-width: 852px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 360000s;
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

