<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Quản lý cửa hàng</title>

    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.11.2/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand ml-3" href="/"><img src="/images/logo.png" width="40px" height="40px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Liên hệ hỗ trợ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Thoát tài khoản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Quản lý của hàng</a>
                </li>
                <li th:if="${user!=null}" class="nav-item">
                    <a class="nav-link" href="/user">
                        <i style="margin-right:0.2rem;" class="fa fa-regular fa-user"></i><span th:text="${user.firstName}"></span>
                    </a>
                </li>
            </ul>
            <form class="d-flex mr-3">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-around header-admin">
        <a class="col-auto deader-admin-active" href="/admin">Thao tác cửa hàng</a>
        <a class="col-auto" href="/admin/receipt">Đơn hàng</a>
        <a class="col-auto" href="/admin/analytic">Thống kê</a>
        <a class="col-auto" href="/">Cửa hàng của bạn</a>
    </div>
</div>

<div class="container">
    <div style="margin-top:10%;" class="col d-flex justify-content-between">
        <a href="/admin/category" style="text-decoration:none;"><button class="btn btn-outline-secondary btn-lg">Thêm danh mục sản phẩm</button></a>
        <a href="/admin/product" style="text-decoration:none;"><button class="btn btn-outline-secondary btn-lg">Thêm sản phẩm</button></a>
    </div>
</div>

</body>
</html>