<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Đăng ký</title>

    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand ml-3" href="/"><img src="/images/logo.png" width="40px" height="40px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/receipt">Tra cứu đơn hàng</a>
                </li>
                <li class="nav-item">
                    <a th:if="${user==null || cartSize == 0}" class="nav-link" href="/cart">Giỏ hàng</a>
                    <a th:if="${user!=null && cartSize > 0}" class="nav-link" href="/cart" th:text="'Giỏ hàng (' + ${cartSize} + ')'"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Liên hệ hỗ trợ</a>
                </li>
                <li class="nav-item">
                    <a th:if="${user==null}" class="nav-link" href="/login">Đăng nhập</a>
                    <a th:if="${user!=null}" class="nav-link" href="/logout">Thoát tài khoản</a>
                </li>
                <li th:if="${user!=null && user.roles[0].name=='ROLE_ADMIN'}" class="nav-item">
                    <a class="nav-link" href="/admin">Quản lý cửa hàng</a>
                </li>
                <li th:if="${user!=null}" class="nav-item">
                    <a class="nav-link" href="/user">
                        <i style="margin-right:0.2rem;" class="fa fa-regular fa-user"></i><span th:text="${user.firstName}"></span>
                    </a>
                </li>
            </ul>
            <form class="d-flex mr-3">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-around header-admin">
        <a class="col-xl-auto col-sm-3 deader-admin-active" th:each="category : ${categories}" th:href="@{/shop/category/{id}(id=${category.id})}">
            <img th:src="${category.image}" width="40" height="40">
            <span style="color:black;" th:text="${category.name}"></span>
        </a>
    </div>
</div>
<div class="container mt-3" >
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
<form style="width: 22rem;" th:action="@{/register}" th:object="${user}" method="post">
    <div class="form-outline mb-4">
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="" autofocus="">
        <label class="form-label sr-only">Email</label>
        <p style="font-size:11px;" class="fst-italic text-center">Lưu ý: Vui lòng nhập email mà bạn có thể sử dụng để lấy lại mật khẩu!</p>
    </div>
    <div class="form-outline mb-4">
        <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Họ" required="" autofocus="">
        <label class="form-label sr-only">Họ</label>
    </div>
    <div class="form-outline mb-4">
        <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Tên" required="" autofocus="">
        <label class="form-label sr-only">Tên</label>
    </div>

    <div class="form-outline mb-4">
        <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu" required="">
        <label class="form-label sr-only">Password</label>
    </div>
    <input name="_csrf" type="hidden" value="rOhFKOcqMyNawmIay1vO71aaohcKgr5oyGlMwjV9snw5tKHwlY18HdEbBxF38wR_-nb622Ssj3U449xFrlB49VQZhx4PhJiW">

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
        </div>
    </div>
</form>
    </section>
</div>

<div class="container-fluid" style="margin-top:10%;">
    <div class="row d-flex align-items-center justify-content-between footer-admin">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img src="/images/logo.png" width="50" height="50">
                <span class="mb-3 mb-md-0 text-muted">© 2023 Company, Inc</span>
            </a>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"></a><img src="/images/fb.png" width="50" height="50"></li>
            <li class="ms-3"><a class="text-muted" href="#"></a><img src="/images/tw.png" width="50" height="50"></li>
            <li class="ms-3"><a class="text-muted" href="#"></a><img src="/images/insta.png" width="50" height="50"></li>
        </ul>
    </div>
</div>
<input type="hidden" id="message" th:value="${message}" />
<script >
    document.addEventListener('DOMContentLoaded', function() {
    toastr.options = {
        closeButton: true,
        debug: false,
        newestOnTop: false,
        progressBar: true,
        positionClass: "toast-top-right",
        preventDuplicates: false,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };
    var msg = document.getElementById('message').value;

    if (msg === "failRegister") {
        toastr.error("Email already existed");
    }

});
</script>
</body>
</html>